

/* GRAB EVERYTHING THAT YOU NEED TO CUSTOM BY ID */

#xyz {
	position: relative;
	left: 360px;
}

#header1 {
	position: relative;
	left: 700px;
}


#secondnav {
	position: relative;
	left: 200px;
}

.card {
	display:inline-block;
	margin-right: 20px;
	position: relative;
	left: 150px;

}

.carousel-inner {
  height: 450px;
}

.zz {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 450px;
}


i[class='fab fa-instagram fa-lg'] {
	position: relative;
	left: 620px;
}

i[class='fab fa-twitter fa-lg'] {
	position: relative;
	left: 450px;
}

i[class='fab fa-linkedin fa-lg'] {
	position: relative;
	left: 500px;
}


#z1 {
	position: relative;
	left: 300px;
}
.nav-align {
	margin-top: 1% !important;
	margin-right: 5px !important;
}

.con1 {
	margin-left: 27%;
}

.con2 {
	margin-left: 17%;
}
