

{% include "base.html" %}

{% block content %}



<style type="text/css">
.card {
		
       
    width: 70rem;
    
   
    top: 0;
    left: 17rem;
   
        

}



</style>






<div class="card">
  <div class="card-header">
    FAQ
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 1</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 2</p>
      <footer class="blockquote-footer">Someone famous in djkfhsfjkhsdjkfhdsjkfhdskjfhsdjkfhdskjfhdsjkfhdsjkfhsdjkfhsdkjffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff<cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 3</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 4</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 5</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 6</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Question 7</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
  </div>
</div>



{% include 'footer.html' %}


{% endblock %}