{% load static %}
{% load fontawesome %}

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title></title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <style>
      .nav-align{
        margin-top: 1%!important;
        margin-right: 5px!important;
      }
      .con1{
        margin-left: 27%;
      }
      .con2{
        margin-left: 17%;
      }
    </style>
  </head>
  <body>



  <section>
		<h1 class="d-inline bg-alert" style="font-family: 'Snell Roundhand', cursive  ;">PerfectPair</h1>
    <!-- <h1 class="d-inline bg-warning">Login/Logout</h1> -->
	</section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {% if user.is_authenticated %}
      <div class="con2" id="secondnav"> 
      {% else %}
      <div class="con1" id="secondnav">
      {% endif %}
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse con" id="navbakrNavDropdown">
            <ul class="navbar-nav">
              <li>
                <form class="form-inline my-2 my-lg-0" action='/shoe/s'>
                    <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
                        class="fas fa-search"></i> Search for Products</button>
                  </form>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home fa-lg"></i> Home <span
                      class="sr-only"></span></a>
              </li>
              
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'shoe:new_arrivals' %}"><i
                    class="fas fa-prescription-bottle-alt fa-lg"></i> New Arrivals</a>
              </li>

              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-male fa-lg"></i> Men
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'shoe:men_sneakers' %}">Sneakers</a>
                  <a class="dropdown-item" href="{% url 'shoe:men_business' %}">Business</a>
                  <a class="dropdown-item" href="{% url 'shoe:men_casual' %}">Casual</a>
                  <a class="dropdown-item" href="{% url 'shoe:men_boots' %}">Boots</a>
                  <a class="dropdown-item" href="{% url 'shoe:men_sandals' %}">Sandals</a>
                </div>
              </li>

              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-female fa-lg"></i> Women
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'shoe:women_sneakers' %}">Sneakers</a>
                  <a class="dropdown-item" href="{% url 'shoe:women_flats' %}">Flats</a>
                  <a class="dropdown-item" href="{% url 'shoe:women_pumps' %}">Pumps</a>
                  <a class="dropdown-item" href="{% url 'shoe:women_boots' %}">Boots</a>
                  <a class="dropdown-item" href="{% url 'shoe:women_sandals' %}">Sandals</a>
                </div>
              </li>

              {% if user.is_authenticated %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'authenticate:logout' %}"> <i
                      class="fas fa-sign-out-alt fa-lg"></i> Logout</a>
                </li>
                <hr style="height:20px; width:1px; background-color:gray; margin-top: 10px;">

                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'authenticate:edit_profile' %}"><i class="fas fa-user-edit fa-lg"></i> Edit
                    Profile</a>
                </li>
                <hr style="height:20px; width:1px; background-color:gray; margin-top: 10px;">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'authenticate:change_password' %}">Change Password</a>
                </li>
              {% else %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'authenticate:login' %}"><i class="fas fa-sign-in-alt fa-lg"></i> Login</a>
                </li>
                <hr style="height:20px; width:1px; background-color:gray; margin-top: 10px;">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'authenticate:register' %}"><i
                      class="fas fa-registered fa-lg"></i> Register</a>
                </li>
              {% endif %}

              
              <li class="nav-item nav-align">
                <a class="fas fa-shopping-cart fa-lg" href="{% url 'shoe:cart_list' shoe_id=2 %}"></a>
              </li>
              <li class="nav-item nav-align">
                <a class="fas fa-user fa-lg" href="{% url 'shoe:cart_list' shoe_id=2 %}"></a>
              </li>
              <li class="nav-item nav-align">
                <a class="fas fa-heart fa-lg" href="{% url 'shoe:like' %}"></a>
              </li> 
            </ul>
          </div>
      </div>
    </nav>

    <br/>
    <div class='container'>
      {% if messages %}
        {% for message in messages %}
          <div class='alert alert-warning alert-dismissable' role='alert'>
            <button class='close' data-dismiss='alert'>
               <small><sup>x</sup></small>
            </button>
            {{message}}
          </div>
        {% endfor %}
      {% endif%}

      {% block content %}
      {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  </body>
</html>



