{% include "base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <div class='text-center'>
        <h1 class="title">Cart</h1>
    </div>
    <style>
    .title {
        font-family: 'American Typewriter', serif;
        text-align: center
    }
    </style>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        </tr>
    </thead>

    <tbody>
    {% for shoe in shoe_list %}
        <tr>
        <th scope="row">1</th>
        <td>{{ system }}</td>
        <td>{{shoe.name}}</td>
        <td>{{shoe.stock}}</td>
        <td>{{shoe.price}}</td>
        </tr>
    {% endfor %}

    </tbody>
    </table>

<h1>{{ system }}</h1>

{% endblock %}