{% include "base.html" %}
{% load static %}
{% block content %}

<style>
    @import url("https://fonts.googleapis.com/css?family=Lobster+Two");

    h1 {
        font-family: 'American Typewriter', serif;
        font-size: 3rem;
        text-shadow: 0px 1px 0px white;
        color: #343434;
    }

    .pulse {
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 30rem;
    }

    .pulse circle {
        fill: #ff5154;
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1);
        animation: pulse 2s cubic-bezier(0.5, 0.5, 0, 1);
    }

    .pulse circle:nth-child(2) {
        fill: #7fc6a4;
        -webkit-animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
        animation: pulse 2s 0.75s cubic-bezier(0.5, 0.5, 0, 1);
    }

    .pulse circle:nth-child(3) {
        fill: #e5f77d;
        -webkit-animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
        animation: pulse 2s 1.5s cubic-bezier(0.5, 0.5, 0, 1);
    }

    @-webkit-keyframes pulse {
        25% {
            opacity: 0.4;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    @keyframes pulse {
        25% {
            opacity: 0.4;
        }

        100% {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }

    .title {
        font-family: 'American Typewriter', serif;
        text-align: center
    }

    .card-title {
        font-family: 'Comic sans MS', sans-serif;
        font-size: 23px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(10px, auto);
        background-color: rgb(238, 238, 238);
    }

    .ele-text {
        font-family: 'American Typewriter', serif;
    }

    .card {
        left: 10% !important;
    }
</style>
<h1 class="title">Men Sneakers</h1>
    <svg class="pulse" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <circle id="Oval" cx="512" cy="512" r="512"></circle>
        <circle id="Oval" cx="512" cy="512" r="512"></circle>
        <circle id="Oval" cx="512" cy="512" r="512"></circle>
    </svg>


        <div class='grid mr-2'>
            {% for shoe in shoe_list %}
                {% if shoe.style == 'sneakers' and shoe.gender == 'M' %}
                    <div class="mb-4 mt-4 card text-left" style="width:16rem;">
                        <img src="{{shoe.image.url}}" class="card-img-top" style="width:254px; height:250px">

                        <div class="card-body" class="shadow-lg p-3 mb-5 bg-white rounded">
                            <h5 class="card-title">{{shoe.name}}</h5>
                            <p class="card-text ele-text">
                                <span>Type:</span>
                                <span style="float:right;">{{shoe.style}}</span>
                            </p>
                            <p class="card-text ele-text">
                                <span>Size: </span>
                                <span style="float:right;">{{shoe.size}}</span>
                            </p>
                            <p class="card-text ele-text">
                                <span>Price:</span>
                                <span
                                    style="float:right;color:turquoise; font-size: 25px!important;">${{shoe.price}}</span>
                            </p>
                            <p class="card-text ele-text">
                                <span>Only</span>
                                <span style="float:right">{{shoe.stock}} available</span>
                            </p>
                            <p class="card-text ele-text">
                                <span>Available: </span>
                                <span style="float:right">{{shoe.availability}}</span>
                            </p>

                            <div>
                                <a href="{% url 'shoe:cart_list' shoe_id=shoe.pk %}" class="btn btn-primary"
                                    style="background-color:turquoise; border-color: turquoise;" name='q1'>
                                    <i class="fas fa-shopping-cart fa-lg"></i>
                                    Add to cart</a>
                                <div style="float:right">
                                    <input id="apto" type="checkbox" {% if shoe.like %} checked{% endif %}>
                                    <label for="apto"><a href="{% url 'shoe:like' shoe_id=shoe.pk %}">Liked</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>




{% include 'footer.html' %}

{% endblock %}