{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    .title {
        font-family: 'American Typewriter', serif;
    }

    .ele {
        font-family: 'Gill Sans', sans-serif;
        font-size: 23px;
    }
    .lay{
        margin-left: 35%;
    }
    form span {
        display: block;
        font-size: 15px;
        margin-left: 1px;
    }
    form p {
        margin-left: 20%;
    }
    form p a{
        margin-left: -20%;
    }
</style>
<h1 class='text-center title'>Edit Profile</h1>

<div class='col-md-6 offset-md-3 ele'>
    <form method="POST" action="{% url 'authenticate:edit_profile' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class='alert alert-warning alert-dismissable' role='alert'>
                <button class='close' data-dismiss='alert'>
                <small><sup>x</sup></small>
                </button>
            <p> Your form has errors </p>
            {% for field in forms %}
                {% if field.errors %}
                    {{field.errors}}
                {% endif %}            
            {% endfor %}
            </div>
        {% endif %}
        
        {{ form.as_p }}
    <div class='text-center'>
        <input type='submit' value='Edit Profile' class='btn btn-secondary'>
        <p><small><a href="{% url 'authenticate:change_password' %}">Click here to change password</a></small></p>

    </div>
    </form>
</div>
{% endblock %}

