{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .title {
        font-family: 'American Typewriter', serif;
    }

    .ele {
        font-family: 'Comic sans MS', sans-serif;
    }
</style>


<h1 class='text-center title'>Login</h1>

<div class='col-md-6 offset-md-3'>
    <form method='POST'>
    {% csrf_token %} 
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endblock %}